.sidebar .sidebar-nav {
  margin-left: 20px;
}

p {
  width: 50%;
}

img {
  width: 100%
}

.img-caption {
  margin-top: -0.5rem;
  padding-bottom: 0.5rem;
  color: #34495e !important;
  font-size: 0.9rem !important
}